# Code Owners

## Global

* @stylescape @scape-agency @vanvianen

## Documentation

README.md   @vanvianen
/docs/      @vanvianen

## Typescript

*.ts        @vanvianen

## SCSS

*.scss      @vanvianen
