# Code Owners

## Global

* @stylescape @scape-agency @vanvianen

## Documentation

README.md   @vanvianen
/doc/       @vanvianen

## Typescript

*.ts        @vanvianen

## SCSS

*.scss      @vanvianen
