

// ============================================================================
// icon.gl | Font Variables
// ============================================================================

@use "../variables" as *;

/// Mixin: icon_style
/// Applies box-level icon styling.
/// @param {Number} $font_size - Font size for the icon container (default: inherit).
/// @param {Color} $color - Text/icon color.
/// @param {String} $margin - Margin to apply around icon.
/// @param {String} $padding - Padding inside icon box.
@mixin icon__span($font_size: inherit,
    // $font_size: inherit,
    $color: $icon_color_default,
    $margin: $icon_margin_default,
    $padding: $icon_padding_default) {
    // display: inline-block;
    display: inline;
    vertical-align: baseline;
    position: relative;
    box-sizing: content-box;
    margin: $margin;
    padding: $padding;
    font-size: $font_size;
    // width: 100%;
    // width: 1em;
    width: 150%;
    // width: 66%;
    height: 150%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    color: $color;
    overflow: visible;

    // font-size: $font_size; // stays original size
    &::before {
        @include icon__font();
    }
}

/// Mixin: icon__font
/// Applies font style to ::before or element using icon font directly.
/// @param {Number} $font_size - Font size for the icon character.
/// @param {Color} $color - Color for the icon.
@mixin icon__font($font_size: 1.5em,
    // $font_size: 1em,
    $color: $icon_color_default) {
    font-family: "icongl" !important;
    font-size: $font_size;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-emphasis-style: none;
    line-height: 1;
    display: inline;
    // vertical-align: baseline;
    vertical-align: middle;
    color: $color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
