
/* Classes */

.N1015 { background-color: $N1015; }
.N2015 { background-color: $N2015; }
.N3015 { background-color: $N3015; }
.N4015 { background-color: $N4015; }
.N5015 { background-color: $N5015; }
.N6015 { background-color: $N6015; }
.N7015 { background-color: $N7015; }
.N8015 { background-color: $N8015; }
.N9015 { background-color: $N9015; }
.N1030 { background-color: $N1030; }
.N2030 { background-color: $N2030; }
.N3030 { background-color: $N3030; }
.N4030 { background-color: $N4030; }
.N5030 { background-color: $N5030; }
.N6030 { background-color: $N6030; }
.N7030 { background-color: $N7030; }
.N8030 { background-color: $N8030; }
.N9030 { background-color: $N9030; }
.N1045 { background-color: $N1045; }
.N2045 { background-color: $N2045; }
.N3045 { background-color: $N3045; }
.N4045 { background-color: $N4045; }
.N5045 { background-color: $N5045; }
.N6045 { background-color: $N6045; }
.N7045 { background-color: $N7045; }
.N8045 { background-color: $N8045; }
.N9045 { background-color: $N9045; }
.N1060 { background-color: $N1060; }
.N2060 { background-color: $N2060; }
.N3060 { background-color: $N3060; }
.N4060 { background-color: $N4060; }
.N5060 { background-color: $N5060; }
.N6060 { background-color: $N6060; }
.N7060 { background-color: $N7060; }
.N8060 { background-color: $N8060; }
.N9060 { background-color: $N9060; }
.N1075 { background-color: $N1075; }
.N2075 { background-color: $N2075; }
.N3075 { background-color: $N3075; }
.N4075 { background-color: $N4075; }
.N5075 { background-color: $N5075; }
.N6075 { background-color: $N6075; }
.N7075 { background-color: $N7075; }
.N8075 { background-color: $N8075; }
.N9075 { background-color: $N9075; }
.N1090 { background-color: $N1090; }
.N2090 { background-color: $N2090; }
.N3090 { background-color: $N3090; }
.N4090 { background-color: $N4090; }
.N5090 { background-color: $N5090; }
.N6090 { background-color: $N6090; }
.N7090 { background-color: $N7090; }
.N8090 { background-color: $N8090; }
.N9090 { background-color: $N9090; }
.N1105 { background-color: $N1105; }
.N2105 { background-color: $N2105; }
.N3105 { background-color: $N3105; }
.N4105 { background-color: $N4105; }
.N5105 { background-color: $N5105; }
.N6105 { background-color: $N6105; }
.N7105 { background-color: $N7105; }
.N8105 { background-color: $N8105; }
.N9105 { background-color: $N9105; }
.N1120 { background-color: $N1120; }
.N2120 { background-color: $N2120; }
.N3120 { background-color: $N3120; }
.N4120 { background-color: $N4120; }
.N5120 { background-color: $N5120; }
.N6120 { background-color: $N6120; }
.N7120 { background-color: $N7120; }
.N8120 { background-color: $N8120; }
.N9120 { background-color: $N9120; }
.N1135 { background-color: $N1135; }
.N2135 { background-color: $N2135; }
.N3135 { background-color: $N3135; }
.N4135 { background-color: $N4135; }
.N5135 { background-color: $N5135; }
.N6135 { background-color: $N6135; }
.N7135 { background-color: $N7135; }
.N8135 { background-color: $N8135; }
.N9135 { background-color: $N9135; }
.N1150 { background-color: $N1150; }
.N2150 { background-color: $N2150; }
.N3150 { background-color: $N3150; }
.N4150 { background-color: $N4150; }
.N5150 { background-color: $N5150; }
.N6150 { background-color: $N6150; }
.N7150 { background-color: $N7150; }
.N8150 { background-color: $N8150; }
.N9150 { background-color: $N9150; }
.N1165 { background-color: $N1165; }
.N2165 { background-color: $N2165; }
.N3165 { background-color: $N3165; }
.N4165 { background-color: $N4165; }
.N5165 { background-color: $N5165; }
.N6165 { background-color: $N6165; }
.N7165 { background-color: $N7165; }
.N8165 { background-color: $N8165; }
.N9165 { background-color: $N9165; }
.N1180 { background-color: $N1180; }
.N2180 { background-color: $N2180; }
.N3180 { background-color: $N3180; }
.N4180 { background-color: $N4180; }
.N5180 { background-color: $N5180; }
.N6180 { background-color: $N6180; }
.N7180 { background-color: $N7180; }
.N8180 { background-color: $N8180; }
.N9180 { background-color: $N9180; }
.N1195 { background-color: $N1195; }
.N2195 { background-color: $N2195; }
.N3195 { background-color: $N3195; }
.N4195 { background-color: $N4195; }
.N5195 { background-color: $N5195; }
.N6195 { background-color: $N6195; }
.N7195 { background-color: $N7195; }
.N8195 { background-color: $N8195; }
.N9195 { background-color: $N9195; }
.N1210 { background-color: $N1210; }
.N2210 { background-color: $N2210; }
.N3210 { background-color: $N3210; }
.N4210 { background-color: $N4210; }
.N5210 { background-color: $N5210; }
.N6210 { background-color: $N6210; }
.N7210 { background-color: $N7210; }
.N8210 { background-color: $N8210; }
.N9210 { background-color: $N9210; }
.N1225 { background-color: $N1225; }
.N2225 { background-color: $N2225; }
.N3225 { background-color: $N3225; }
.N4225 { background-color: $N4225; }
.N5225 { background-color: $N5225; }
.N6225 { background-color: $N6225; }
.N7225 { background-color: $N7225; }
.N8225 { background-color: $N8225; }
.N9225 { background-color: $N9225; }
.N1240 { background-color: $N1240; }
.N2240 { background-color: $N2240; }
.N3240 { background-color: $N3240; }
.N4240 { background-color: $N4240; }
.N5240 { background-color: $N5240; }
.N6240 { background-color: $N6240; }
.N7240 { background-color: $N7240; }
.N8240 { background-color: $N8240; }
.N9240 { background-color: $N9240; }
.N1255 { background-color: $N1255; }
.N2255 { background-color: $N2255; }
.N3255 { background-color: $N3255; }
.N4255 { background-color: $N4255; }
.N5255 { background-color: $N5255; }
.N6255 { background-color: $N6255; }
.N7255 { background-color: $N7255; }
.N8255 { background-color: $N8255; }
.N9255 { background-color: $N9255; }
.N1270 { background-color: $N1270; }
.N2270 { background-color: $N2270; }
.N3270 { background-color: $N3270; }
.N4270 { background-color: $N4270; }
.N5270 { background-color: $N5270; }
.N6270 { background-color: $N6270; }
.N7270 { background-color: $N7270; }
.N8270 { background-color: $N8270; }
.N9270 { background-color: $N9270; }
.N1285 { background-color: $N1285; }
.N2285 { background-color: $N2285; }
.N3285 { background-color: $N3285; }
.N4285 { background-color: $N4285; }
.N5285 { background-color: $N5285; }
.N6285 { background-color: $N6285; }
.N7285 { background-color: $N7285; }
.N8285 { background-color: $N8285; }
.N9285 { background-color: $N9285; }
.N1300 { background-color: $N1300; }
.N2300 { background-color: $N2300; }
.N3300 { background-color: $N3300; }
.N4300 { background-color: $N4300; }
.N5300 { background-color: $N5300; }
.N6300 { background-color: $N6300; }
.N7300 { background-color: $N7300; }
.N8300 { background-color: $N8300; }
.N9300 { background-color: $N9300; }
.N1315 { background-color: $N1315; }
.N2315 { background-color: $N2315; }
.N3315 { background-color: $N3315; }
.N4315 { background-color: $N4315; }
.N5315 { background-color: $N5315; }
.N6315 { background-color: $N6315; }
.N7315 { background-color: $N7315; }
.N8315 { background-color: $N8315; }
.N9315 { background-color: $N9315; }
.N1330 { background-color: $N1330; }
.N2330 { background-color: $N2330; }
.N3330 { background-color: $N3330; }
.N4330 { background-color: $N4330; }
.N5330 { background-color: $N5330; }
.N6330 { background-color: $N6330; }
.N7330 { background-color: $N7330; }
.N8330 { background-color: $N8330; }
.N9330 { background-color: $N9330; }
.N1345 { background-color: $N1345; }
.N2345 { background-color: $N2345; }
.N3345 { background-color: $N3345; }
.N4345 { background-color: $N4345; }
.N5345 { background-color: $N5345; }
.N6345 { background-color: $N6345; }
.N7345 { background-color: $N7345; }
.N8345 { background-color: $N8345; }
.N9345 { background-color: $N9345; }
.N1360 { background-color: $N1360; }
.N2360 { background-color: $N2360; }
.N3360 { background-color: $N3360; }
.N4360 { background-color: $N4360; }
.N5360 { background-color: $N5360; }
.N6360 { background-color: $N6360; }
.N7360 { background-color: $N7360; }
.N8360 { background-color: $N8360; }
.N9360 { background-color: $N9360; }

