
/* Vermillion */
/* ----------------------------------------------------------------------- */
$N1015: rgb(98.2% 85.7% 86.7%);
$N2015: rgb(93.4% 75.4% 76.9%);
$N3015: rgb(88.5% 65.1% 67.3%);
$N4015: rgb(83.2% 55% 58%);
$N5015: rgb(77.8% 44.8% 49%);
$N6015: rgb(65.5% 38.8% 42.1%);
$N7015: rgb(53.6% 32.9% 35.3%);
$N8015: rgb(42.2% 27.2% 28.8%);
$N9015: rgb(31.2% 21.5% 22.5%);

/* Orange */
/* ----------------------------------------------------------------------- */
$N1030: rgb(97.9% 86% 84.5%);
$N2030: rgb(93.1% 75.8% 73.7%);
$N3030: rgb(87.9% 65.7% 63.1%);
$N4030: rgb(82.5% 55.8% 52.9%);
$N5030: rgb(76.8% 45.9% 43%);
$N6030: rgb(64.7% 39.6% 37.2%);
$N7030: rgb(53.1% 33.5% 31.6%);
$N8030: rgb(41.8% 27.6% 26.1%);
$N9030: rgb(30.9% 21.8% 20.7%);

/* Amber */
/* ----------------------------------------------------------------------- */
$N1045: rgb(97.1% 86.5% 82.6%);
$N2045: rgb(91.8% 76.5% 70.9%);
$N3045: rgb(86.3% 66.7% 59.5%);
$N4045: rgb(80.5% 57.1% 48.4%);
$N5045: rgb(74.5% 47.6% 37.8%);
$N6045: rgb(62.8% 41% 32.9%);
$N7045: rgb(51.6% 34.6% 28.3%);
$N8045: rgb(40.7% 28.3% 23.7%);
$N9045: rgb(30.3% 22.2% 19.2%);

/* Yellow */
/* ----------------------------------------------------------------------- */
$N1060: rgb(95.7% 87.1% 81.1%);
$N2060: rgb(89.8% 77.5% 68.7%);
$N3060: rgb(83.7% 68% 56.6%);
$N4060: rgb(77.4% 58.8% 44.9%);
$N5060: rgb(70.8% 49.7% 33.5%);
$N6060: rgb(59.9% 42.7% 29.5%);
$N7060: rgb(49.3% 35.8% 25.6%);
$N8060: rgb(39% 29.2% 21.8%);
$N9060: rgb(29.2% 22.8% 18%);

/* Lime */
/* ----------------------------------------------------------------------- */
$N1075: rgb(93.8% 87.8% 80.1%);
$N2075: rgb(87.1% 78.5% 67.3%);
$N3075: rgb(80.3% 69.5% 54.7%);
$N4075: rgb(73.3% 60.6% 42.5%);
$N5075: rgb(66.1% 52% 30.6%);
$N6075: rgb(56.1% 44.5% 27.2%);
$N7075: rgb(46.3% 37.2% 23.9%);
$N8075: rgb(36.9% 30.2% 20.5%);
$N9075: rgb(27.8% 23.4% 17.3%);

/* Ecru */
/* ----------------------------------------------------------------------- */
$N1090: rgb(91.6% 88.6% 79.8%);
$N2090: rgb(84% 79.7% 66.7%);
$N3090: rgb(76.2% 71% 54%);
$N4090: rgb(68.5% 62.5% 41.5%);
$N5090: rgb(60.6% 54.2% 29.3%);
$N6090: rgb(51.6% 46.3% 26.2%);
$N7090: rgb(42.8% 38.6% 23.1%);
$N8090: rgb(34.3% 31.1% 20%);
$N9090: rgb(26.1% 24% 17%);

/* Olive */
/* ----------------------------------------------------------------------- */
$N1105: rgb(89.2% 89.3% 80%);
$N2105: rgb(80.4% 80.8% 67.1%);
$N3105: rgb(71.7% 72.4% 54.4%);
$N4105: rgb(63.1% 64.2% 42.1%);
$N5105: rgb(54.4% 56.2% 29.9%);
$N6105: rgb(46.6% 47.9% 26.7%);
$N7105: rgb(38.9% 39.8% 23.5%);
$N8105: rgb(31.5% 32% 20.3%);
$N9105: rgb(24.3% 24.6% 17.1%);

/* Green */
/* ----------------------------------------------------------------------- */
$N1120: rgb(86.7% 90% 80.9%);
$N2120: rgb(76.8% 81.8% 68.3%);
$N3120: rgb(67% 73.7% 56%);
$N4120: rgb(57.3% 65.7% 44.1%);
$N5120: rgb(47.8% 57.9% 32.4%);
$N6120: rgb(41.1% 49.3% 28.7%);
$N7120: rgb(34.7% 40.9% 25%);
$N8120: rgb(28.4% 32.9% 21.4%);
$N9120: rgb(22.3% 25.1% 17.8%);

/* Forest */
/* ----------------------------------------------------------------------- */
$N1135: rgb(84.2% 90.6% 82.2%);
$N2135: rgb(73.2% 82.6% 70.3%);
$N3135: rgb(62.2% 74.7% 58.7%);
$N4135: rgb(51.4% 67% 47.4%);
$N5135: rgb(40.7% 59.3% 36.4%);
$N6135: rgb(35.4% 50.4% 31.9%);
$N7135: rgb(30.3% 41.8% 27.5%);
$N8135: rgb(25.3% 33.5% 23.2%);
$N9135: rgb(20.4% 25.5% 18.9%);

/* Jade */
/* ----------------------------------------------------------------------- */
$N1150: rgb(82% 91.1% 84.1%);
$N2150: rgb(69.8% 83.3% 73%);
$N3150: rgb(57.7% 75.6% 62.3%);
$N4150: rgb(45.6% 67.9% 51.8%);
$N5150: rgb(33.1% 60.3% 41.6%);
$N6150: rgb(29.5% 51.3% 36.1%);
$N7150: rgb(25.9% 42.5% 30.7%);
$N8150: rgb(22.2% 34% 25.5%);
$N9150: rgb(18.5% 25.9% 20.4%);

/* Mint */
/* ----------------------------------------------------------------------- */
$N1165: rgb(80.2% 91.4% 86.2%);
$N2165: rgb(67% 83.7% 76.2%);
$N3165: rgb(53.8% 76.1% 66.5%);
$N4165: rgb(40.1% 68.5% 56.9%);
$N5165: rgb(25.1% 61% 47.7%);
$N6165: rgb(23.5% 51.8% 41%);
$N7165: rgb(21.6% 42.9% 34.5%);
$N8165: rgb(19.3% 34.3% 28.2%);
$N9165: rgb(16.8% 26.1% 22.1%);

/* Cyan */
/* ----------------------------------------------------------------------- */
$N1180: rgb(78.9% 91.5% 88.5%);
$N2180: rgb(65% 83.9% 79.6%);
$N3180: rgb(50.7% 76.4% 70.9%);
$N4180: rgb(35.6% 68.8% 62.4%);
$N5180: rgb(16.3% 61.3% 54.1%);
$N6180: rgb(17.6% 52.1% 46.2%);
$N7180: rgb(17.7% 43.1% 38.5%);
$N8180: rgb(16.9% 34.5% 31.1%);
$N9180: rgb(15.5% 26.2% 24%);

/* Teal */
/* ----------------------------------------------------------------------- */
$N1195: rgb(78.3% 91.5% 90.9%);
$N2195: rgb(63.9% 83.9% 83.1%);
$N3195: rgb(49% 76.3% 75.4%);
$N4195: rgb(32.6% 68.8% 67.9%);
$N5195: rgb(6.3% 61.2% 60.6%);
$N6195: rgb(12.6% 52% 51.4%);
$N7195: rgb(14.9% 43.1% 42.6%);
$N8195: rgb(15.4% 34.5% 34%);
$N9195: rgb(14.8% 26.2% 25.8%);

/* Capri */
/* ----------------------------------------------------------------------- */
$N1210: rgb(78.4% 91.3% 93.1%);
$N2210: rgb(64% 83.6% 86.3%);
$N3210: rgb(49% 75.9% 79.6%);
$N4210: rgb(32.1% 68.4% 73.1%);
$N5210: rgb(0.31% 60.8% 66.6%);
$N6210: rgb(11% 51.7% 56.3%);
$N7210: rgb(14.2% 42.8% 46.3%);
$N8210: rgb(15.2% 34.3% 36.7%);
$N9210: rgb(14.7% 26% 27.6%);

/* Cerulean */
/* ----------------------------------------------------------------------- */
$N1225: rgb(79.3% 90.9% 95%);
$N2225: rgb(65.3% 83.1% 89.1%);
$N3225: rgb(50.7% 75.3% 83.3%);
$N4225: rgb(34.5% 67.6% 77.5%);
$N5225: rgb(10% 60% 71.8%);
$N6225: rgb(14.6% 51% 60.5%);
$N7225: rgb(16.3% 42.3% 49.6%);
$N8225: rgb(16.4% 33.9% 39.1%);
$N9225: rgb(15.4% 25.8% 29.1%);

/* Blue */
/* ----------------------------------------------------------------------- */
$N1240: rgb(80.8% 90.4% 96.4%);
$N2240: rgb(67.6% 82.3% 91.2%);
$N3240: rgb(54% 74.4% 86.1%);
$N4240: rgb(39.4% 66.5% 81%);
$N5240: rgb(21.1% 58.9% 75.8%);
$N6240: rgb(21.2% 50.1% 63.8%);
$N7240: rgb(20.5% 41.5% 52.1%);
$N8240: rgb(19% 33.3% 40.9%);
$N9240: rgb(16.9% 25.4% 30.2%);

/* Azure */
/* ----------------------------------------------------------------------- */
$N1255: rgb(82.9% 89.7% 97.4%);
$N2255: rgb(70.8% 81.4% 92.6%);
$N3255: rgb(58.6% 73.2% 87.9%);
$N4255: rgb(45.8% 65.2% 83.2%);
$N5255: rgb(31.6% 57.3% 78.4%);
$N6255: rgb(28.7% 48.8% 65.9%);
$N7255: rgb(25.7% 40.5% 53.7%);
$N8255: rgb(22.3% 32.5% 42.1%);
$N9255: rgb(18.8% 24.9% 31%);

/* Violet */
/* ----------------------------------------------------------------------- */
$N1270: rgb(85.3% 89% 97.7%);
$N2270: rgb(74.6% 80.3% 93.1%);
$N3270: rgb(63.8% 71.8% 88.6%);
$N4270: rgb(52.9% 63.5% 84%);
$N5270: rgb(41.4% 55.4% 79.4%);
$N6270: rgb(36.3% 47.2% 66.6%);
$N7270: rgb(31.2% 39.3% 54.3%);
$N8270: rgb(26.1% 31.7% 42.5%);
$N9270: rgb(21% 24.3% 31.3%);

/* Purple */
/* ----------------------------------------------------------------------- */
$N1285: rgb(88% 88.2% 97.5%);
$N2285: rgb(78.6% 79.2% 92.8%);
$N3285: rgb(69.3% 70.3% 88.1%);
$N4285: rgb(59.9% 61.6% 83.3%);
$N5285: rgb(50.5% 53.2% 78.6%);
$N6285: rgb(43.4% 45.5% 66%);
$N7285: rgb(36.5% 38% 53.9%);
$N8285: rgb(29.8% 30.7% 42.2%);
$N9285: rgb(23.3% 23.7% 31%);

/* Magenta */
/* ----------------------------------------------------------------------- */
$N1300: rgb(90.6% 87.5% 96.6%);
$N2300: rgb(82.6% 78% 91.5%);
$N3300: rgb(74.5% 68.8% 86.4%);
$N4300: rgb(66.6% 59.7% 81.3%);
$N5300: rgb(58.6% 50.9% 76.2%);
$N6300: rgb(49.9% 43.6% 64.1%);
$N7300: rgb(41.5% 36.5% 52.4%);
$N8300: rgb(33.3% 29.7% 41.1%);
$N9300: rgb(25.4% 23.1% 30.4%);

/* Cerise */
/* ----------------------------------------------------------------------- */
$N1315: rgb(93% 86.8% 95.2%);
$N2315: rgb(86.1% 77% 89.5%);
$N3315: rgb(79.3% 67.4% 83.7%);
$N4315: rgb(72.4% 57.9% 78.1%);
$N5315: rgb(65.5% 48.6% 72.4%);
$N6315: rgb(55.5% 41.8% 61%);
$N7315: rgb(45.8% 35.1% 50%);
$N8315: rgb(36.4% 28.7% 39.4%);
$N9315: rgb(27.4% 22.5% 29.3%);

/* Rose */
/* ----------------------------------------------------------------------- */
$N1330: rgb(95.1% 86.2% 93.4%);
$N2330: rgb(89.2% 76.1% 86.8%);
$N3330: rgb(83.2% 66.2% 80.3%);
$N4330: rgb(77.1% 56.4% 73.8%);
$N5330: rgb(71% 46.6% 67.4%);
$N6330: rgb(59.9% 40.2% 57%);
$N7330: rgb(49.2% 34% 46.9%);
$N8330: rgb(38.9% 27.9% 37.1%);
$N9330: rgb(29% 22% 27.8%);

/* Pink */
/* ----------------------------------------------------------------------- */
$N1345: rgb(96.7% 85.9% 91.3%);
$N2345: rgb(91.5% 75.6% 83.7%);
$N3345: rgb(86.1% 65.4% 76.2%);
$N4345: rgb(80.5% 55.3% 68.8%);
$N5345: rgb(74.9% 45.2% 61.6%);
$N6345: rgb(63.1% 39.1% 52.2%);
$N7345: rgb(51.7% 33.1% 43.2%);
$N8345: rgb(40.7% 27.3% 34.5%);
$N9345: rgb(30.2% 21.6% 26.1%);

/* Red */
/* ----------------------------------------------------------------------- */
$N1360: rgb(97.7% 85.7% 89%);
$N2360: rgb(92.9% 75.3% 80.3%);
$N3360: rgb(87.9% 65% 71.8%);
$N4360: rgb(82.6% 54.8% 63.4%);
$N5360: rgb(77.1% 44.5% 55.3%);
$N6360: rgb(65% 38.6% 47.2%);
$N7360: rgb(53.2% 32.8% 39.3%);
$N8360: rgb(41.8% 27.1% 31.6%);
$N9360: rgb(30.9% 21.5% 24.3%);
