
@mixin gradient_linear_2($val1, $val2) {
  background: linear-gradient(90deg, $val1 0%, $val2 100%);
}
@mixin gradient_linear_3($val1, $val2, $val3) {
  background: linear-gradient(90deg, $val1 0%, $val2 50%, $val3 100%);
}
@mixin gradient_linear_4($val1, $val2, $val3, $val4) {
  background: linear-gradient(90deg, $val1 0%, $val2 33.33%, $val3 66.67%, $val4 100%);
}
@mixin gradient_linear_5($val1, $val2, $val3, $val4, $val5) {
  background: linear-gradient(90deg, $val1 0%, $val2 25%, $val3 50%, $val4 75%, $val5 100%);
}
@mixin gradient_linear_6($val1, $val2, $val3, $val4, $val5, $val6) {
  background: linear-gradient(90deg, $val1 0%, $val2 20%, $val3 40%, $val4 60%, $val5 80%, $val6 100%);
}

@mixin gradient_015 { @include gradient_linear_3( $N1015, $N5015, $N9015 ); }
@mixin gradient_030 { @include gradient_linear_3( $N1030, $N5030, $N9030 ); }
@mixin gradient_045 { @include gradient_linear_3( $N1045, $N5045, $N9045 ); }
@mixin gradient_060 { @include gradient_linear_3( $N1060, $N5060, $N9060 ); }
@mixin gradient_075 { @include gradient_linear_3( $N1075, $N5075, $N9075 ); }
@mixin gradient_090 { @include gradient_linear_3( $N1090, $N5090, $N9090 ); }
@mixin gradient_105 { @include gradient_linear_3( $N1105, $N5105, $N9105 ); }
@mixin gradient_120 { @include gradient_linear_3( $N1120, $N5120, $N9120 ); }
@mixin gradient_135 { @include gradient_linear_3( $N1135, $N5135, $N9135 ); }
@mixin gradient_150 { @include gradient_linear_3( $N1150, $N5150, $N9150 ); }
@mixin gradient_165 { @include gradient_linear_3( $N1165, $N5165, $N9165 ); }
@mixin gradient_180 { @include gradient_linear_3( $N1180, $N5180, $N9180 ); }
@mixin gradient_195 { @include gradient_linear_3( $N1195, $N5195, $N9195 ); }
@mixin gradient_210 { @include gradient_linear_3( $N1210, $N5210, $N9210 ); }
@mixin gradient_225 { @include gradient_linear_3( $N1225, $N5225, $N9225 ); }
@mixin gradient_240 { @include gradient_linear_3( $N1240, $N5240, $N9240 ); }
@mixin gradient_255 { @include gradient_linear_3( $N1255, $N5255, $N9255 ); }
@mixin gradient_270 { @include gradient_linear_3( $N1270, $N5270, $N9270 ); }
@mixin gradient_285 { @include gradient_linear_3( $N1285, $N5285, $N9285 ); }
@mixin gradient_300 { @include gradient_linear_3( $N1300, $N5300, $N9300 ); }
@mixin gradient_315 { @include gradient_linear_3( $N1315, $N5315, $N9315 ); }
@mixin gradient_330 { @include gradient_linear_3( $N1330, $N5330, $N9330 ); }
@mixin gradient_345 { @include gradient_linear_3( $N1345, $N5345, $N9345 ); }
@mixin gradient_360 { @include gradient_linear_3( $N1360, $N5360, $N9360 ); }


.gradient_015 { @include gradient_015; }
.gradient_030 { @include gradient_030; }
.gradient_045 { @include gradient_045; }
.gradient_060 { @include gradient_060; }
.gradient_075 { @include gradient_075; }
.gradient_090 { @include gradient_090; }
.gradient_105 { @include gradient_105; }
.gradient_120 { @include gradient_120; }
.gradient_135 { @include gradient_135; }
.gradient_150 { @include gradient_150; }
.gradient_165 { @include gradient_165; }
.gradient_180 { @include gradient_180; }
.gradient_195 { @include gradient_195; }
.gradient_210 { @include gradient_210; }
.gradient_225 { @include gradient_225; }
.gradient_240 { @include gradient_240; }
.gradient_255 { @include gradient_255; }
.gradient_270 { @include gradient_270; }
.gradient_285 { @include gradient_285; }
.gradient_300 { @include gradient_300; }
.gradient_315 { @include gradient_315; }
.gradient_330 { @include gradient_330; }
.gradient_345 { @include gradient_345; }
.gradient_360 { @include gradient_360; }



@mixin gradient_1x { @include gradient_linear_5( $N1360, $N1090, $N1180, $N1270, $N1360 ); }
@mixin gradient_2x { @include gradient_linear_5( $N2360, $N2090, $N2180, $N2270, $N2360 ); }
@mixin gradient_3x { @include gradient_linear_5( $N3360, $N3090, $N3180, $N3270, $N3360 ); }
@mixin gradient_4x { @include gradient_linear_5( $N4360, $N4090, $N4180, $N4270, $N4360 ); }
@mixin gradient_5x { @include gradient_linear_5( $N5360, $N5090, $N5180, $N5270, $N5360 ); }
@mixin gradient_6x { @include gradient_linear_5( $N6360, $N6090, $N6180, $N6270, $N6360 ); }
@mixin gradient_7x { @include gradient_linear_5( $N7360, $N7090, $N7180, $N7270, $N7360 ); }
@mixin gradient_8x { @include gradient_linear_5( $N8360, $N8090, $N8180, $N8270, $N8360 ); }
@mixin gradient_9x { @include gradient_linear_5( $N9360, $N9090, $N9180, $N9270, $N9360 ); }

.gradient_1x { @include gradient_1x; }
.gradient_2x { @include gradient_2x; }
.gradient_3x { @include gradient_3x; }
.gradient_4x { @include gradient_4x; }
.gradient_5x { @include gradient_5x; }
.gradient_6x { @include gradient_6x; }
.gradient_7x { @include gradient_7x; }
.gradient_8x { @include gradient_8x; }
.gradient_9x { @include gradient_9x; }



@mixin gradient_x { @include gradient_linear_4( $N1240, $N5240, $N5360, $N9360 ); }
.gradient_x { @include gradient_x; }

@mixin gradient_gnbu { @include gradient_linear_5( $N5120, $N5150, $N5180, $N5210, $N5240 ); }
.gradient_gnbu { @include gradient_gnbu; }


@mixin gradient_linear_d120 { @include gradient_linear_5( $N1120, $N3150, $N5180, $N7210, $N9240 ); }
.gradient_linear_d120 { @include gradient_linear_d120; }