// Color | Charts
// =======================================================================



// @mixin niji {
//   color(): hsla($cool_gray_h, $cool_gray_s, 98%, $cool_gray_a);
// }

$hue_00:   0; $hue_01:  10; $hue_02:  20;
$hue_03:  30; $hue_04:  40; $hue_05:  50;
$hue_06:  60; $hue_07:  70; $hue_08:  80;
$hue_09:  90; $hue_10: 100; $hue_11: 110;
$hue_12: 120; $hue_13: 130; $hue_14: 140;
$hue_15: 150; $hue_16: 160; $hue_17: 170;
$hue_18: 180; $hue_19: 190; $hue_20: 200;
$hue_21: 210; $hue_22: 220; $hue_23: 230;
$hue_24: 240; $hue_25: 250; $hue_26: 260;
$hue_27: 270; $hue_28: 280; $hue_29: 290;
$hue_30: 300; $hue_31: 310; $hue_32: 320;
$hue_33: 330; $hue_34: 340; $hue_35: 350;
$hue_36: 360;

$sat_00: 98%;
$sat_01: 98%;
$sat_02: 93%;
$sat_03: 93%;
$sat_04: 98%;
$sat_05: 98%;
$sat_06: 98%;
$sat_07: 98%;
$sat_08: 98%;
$sat_09: 98%;





$cool_gray_h: 210;
$cool_gray_s: 15%;
$cool_gray_a: 1;

$cool_gray_01: hsla($cool_gray_h, $cool_gray_s, 98%, $cool_gray_a);
$cool_gray_02: hsla($cool_gray_h, $cool_gray_s, 93%, $cool_gray_a);
$cool_gray_03: hsla($cool_gray_h, $cool_gray_s, 89%, $cool_gray_a);
$cool_gray_04: hsla($cool_gray_h, $cool_gray_s, 83%, $cool_gray_a);
$cool_gray_05: hsla($cool_gray_h, $cool_gray_s, 71%, $cool_gray_a);
$cool_gray_06: hsla($cool_gray_h, $cool_gray_s, 46%, $cool_gray_a);
$cool_gray_07: hsla($cool_gray_h, $cool_gray_s, 31%, $cool_gray_a);
$cool_gray_08: hsla($cool_gray_h, $cool_gray_s, 23%, $cool_gray_a);
$cool_gray_09: hsla($cool_gray_h, $cool_gray_s, 15%, $cool_gray_a);

:root {
  --cool_gray_01: $cool_gray_01;
  --cool_gray_02: $cool_gray_02;
  --cool_gray_03: $cool_gray_03;
  --cool_gray_04: $cool_gray_04;
  --cool_gray_05: $cool_gray_05;
  --cool_gray_06: $cool_gray_06;
  --cool_gray_07: $cool_gray_07;
  --cool_gray_08: $cool_gray_08;
  --cool_gray_09: $cool_gray_09;
}


