
// * { 
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: Sans-Serif;
// }

// body {
//     /* position: absolute; */
//     /* margin: 0;
//     padding: 0; */
//     width: 100vw;
//     max-width: 100vw;
//     height: 100vh;
//     max-height: 100vh;
// }

// button {
//     margin: 20px;
//     padding: 10px;
//     background-color: black;
//     color: white;
// }

// h1 {
//     background-color: black;
//     color: white;
//     width: 100px;
//     margin: auto;

// }

// table, th, td {
//     border: 1px solid white;
// }
// #niji_wrapper {
//     position: relative;
//     width: 100%;
//     min-width: 100%;
//     height: 100%;
//     min-height: 100%;
//     /* overflow: hidden; */
//     padding: 5%;
// }

.niji_header {
    text-align: center;
}
.niji_footer {
    text-align: center;
}



.niji_table {
    position: relative;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.niji_table tbody{
    /* position: relative;
    width: 100%;
    min-width: 100%; */
}
.niji_row {
    /* position: relative;
    width: 100vw;
    height: 10vw; */
}

.niji_row .niji_cell:nth-child(n + 8) {
    color: white;
    /* border: 2px solid orange;
    margin-bottom: 1px; */
}

.niji_cell, .niji_cell_header {
    position: relative;
    width: 10%;
    height: 10vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}




/* .niji_swatch_div, .niji_cell_header_div { */
.niji_swatch_div {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.niji_cell_header {
    text-align: center;
    vertical-align: middle;
    font-size: 10px;

}

.niji_cell_header_div {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
}

.niji_cell_header_div_day {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    margin: 20px;
    opacity: 0.5;
}


.niji_label_div {
    position: relative;
    overflow: hidden;
    /* bottom: 0; */
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* width: 10vw;
    height: 10vw; */
    z-index: 10;

    margin: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    /* flex-wrap:wrap;
    align-items: flex-end; */

    justify-content: flex-end;
}


.niji_label_div_line_title {
    font-weight: 600;
    font-size: 10px;
    overflow: hidden;
    width: 100%;
    height: 12px;
}

.niji_label_div_line {
    overflow: hidden;
    font-size: 10px;
    width: 100%;
    height: 12px;
}

