// Color | Palettes
// ============================================================================



// Scheme
// ----------------------------------------------------------------------------
$color_01:  #FFF;
$color_02:  #000A0D;
$color_03:  #00B6F2;
$color_04:  #008FBF;
